<div class="container d-flex justify-content-center mt-5">
  <div class="card shadow p-4" style="width: 33%;">
    <h5 class="card-title">Login</h5>
    <form (ngSubmit)="onSubmit()">
      <input-box title="Email" placeholder="Ingrese su email" type="" (valueChanged)="user.email.set($event)"></input-box>
      <input-box title="Password" placeholder="Ingrese su password" type="password" (valueChanged)="user.password.set($event)"></input-box>
      <input-box title="Confirm Password" placeholder="Confirme su password" type="password" (valueChanged)="user.confirmPassword.set($event)"></input-box>
      <button type="submit" class="btn btn-primary w-100 mt-4">Entrar</button>
    </form>
  </div>
</div>
